.main {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: 20px;
   margin-top: 5%;

   &--left {
      width: 100%;

      & img {
         object-fit: contain;
         width: 100%;
      }
   }

   &--right {
      &__cards {
         display: flex;
         gap: 3%;
         margin-top: 2%;
         margin-left: -7%;
      }

      &__title {
         display: flex;
         align-items: center;
         gap: 35px;

         & h2 {
            color: #514f62;
            font-size: 55px;
         }

         & div {
            width: 100%;
            display: inline-block;
            border-top: 3px dashed #e91c6a;
            border-width: 5px;
         }
      }
   }
}

.cardBox {
   // width: 272.63px;
   // height: 554.5px;
   border: 1px solid #e2e2e2;
   box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
   background-color: #fff;
   margin-top: 2%;

   & img {
      // max-width: 250px;
      max-height: 310px;
      object-fit: cover;
   }

   &--description {
      text-align: center;
   }

   &--name {
      font-size: 25px;
      font-weight: bold;
      color: #e91c6a;
      margin: 0;
      padding: 6px 0;
   }

   &--link {
      text-decoration: none;
      border: 1px solid #6f6f6f;
      border-radius: 20px;
      padding: 5px 50px;
      display: inline-block;
      margin: 6px 0;
   }

   &--items {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: 5px 0;

      &__sqr {
         width: 14px;
         height: 18px;
         display: block;
         color: #514f62;
         border: 3px solid #514f62;
      }

      &__line {
         height: 26px;
         border: 2px solid #514f62;
         background-color: #514f62;
         display: block;
      }
   }

   &--btn {
      width: 185px;
      height: 37px;
      background-color: #e91c6a;
      border: 3px solid #e91c6a;
      color: white;
      font-size: 15px;
      font-weight: bold;
      margin: 5%;
   }
}
