.TopSeler {
  width: 100%;
  margin: 0 auto;
  padding: 3% 0;

  &--link {
    font-size: 2rem;
    font-weight: 500;
    color: #e91c6a;
    margin-left: 50%;
    display: inline-block;
    transform: translateX(-50%);
  }
  &__header {
    &--h2 {
      text-align: center;
      font-size: 4rem;
      display: flex;
      align-items: center;
      // justify-content: space-around;
      // width: 100vw;

      &-text {
        width: 100%;
        margin: 0 -5%;
      }

      &-border {
        width: 100%;
        border-top: 5px dashed #e91c6a;
      }
    }
  }
}
.imgBackground {
  width: 80%;
  margin: 3% auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  // margin: 3% 0;

  &--ImgTop1 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.7) 99% 100%
      ),
      url("../../images/TopSeler1.png");
    background-position: center;
    background-size: 115%;
    box-shadow: 0 0px 50px grey inset;
    border-radius: 1rem;

    &-text {
      h2 {
        font-size: 4rem;
        margin-left: 10%;
        margin-top: 40%;
        color: white;
      }
      p {
        font-size: 2rem;
        font-weight: bold;
        margin-left: 10%;
        margin-top: 1rem;
        color: white;
      }
    }
    &-btnShop {
      padding: 1rem 3rem;
      font-size: 1.6rem;
      border-radius: 1rem;
      border: none;
      background-color: #e91c6a;
      color: white;
      //  margin-left: 40%;
      //  margin-top: 10%;
      margin-left: 50%;
      margin-bottom: -5%;
      margin-top: 5%;
      transform: translateX(-50%);
    }
    &-btnShop:active {
      transform: scale(1.05);
      transition: all 0.1s;
    }
  }
  &--ImgTop2 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.7) 99% 100%
      ),
      url("../../images/topSeler2.png");
    background-position: center;
    background-size: 115%;

    box-shadow: 0 0px 50px grey inset;
    border-radius: 1rem;
    &-text {
      h2 {
        font-size: 4rem;
        margin-left: 10%;
        margin-top: 40%;
        color: white;
      }
      p {
        font-size: 2rem;
        font-weight: bold;
        margin-left: 10%;
        margin-top: 1rem;
        color: white;
      }
    }
  }
}
