@mixin max1300 {
   @media (max-width: 1300px) {
      @content;
   }
}
@mixin land {
   @media (max-width: 1100px) {
      @content;
   }
}
@mixin portrait {
   @media (max-width: 900px) {
      @content;
   }
}
@mixin mobile {
   @media (max-width: 600px) {
      @content;
   }
}
//
.pink {
   color: #e91c6a;
}
//
.Menu {
   width: 80%;
   margin: 1% auto;
   display: flex;
   align-items: center;
   gap: 1%;
   justify-content: center;
   font-size: 1.2rem;
   @media (max-width: 1100px) {
      width: 100%;
   }
   @media (max-width: 618px) {
      justify-content: flex-start;
   }

   &__tabs {
      max-width: 60%;
      margin: 0 2%;

      @media (max-width: 618px) {
         display: none;
         visibility: hidden;
      }

      & .tab {
         font-size: 1.2rem;
         color: #111;
         @media (max-width: 618px) {
            display: none;
            visibility: hidden;
         }
      }

      // &:focus {
      //    color: #e91c6a;
      // }
   }

   &__links {
      display: flex;
      justify-content: space-between;
      width: 70%;

      @media (max-width: 1000px) {
         display: none;
      }
   }

   @media (max-width: 1200px) {
      width: 95%;
   }

   &__link {
      color: #111;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer;

      &:hover {
         color: #e91c6a;
      }
      &:link {
         color: #e91c6a;
      }
   }
   &__btn {
      background-color: #e91c6a;
      color: seashell;
      border: none;
      font-weight: 600;
      padding: 1% 2%;
      border-radius: 2rem;
      cursor: pointer;
      font-size: 1.2rem;

      &:hover {
         color: #e91c6a;
         background-color: seashell;
         outline: #e91c6a 1px solid;
      }
      &:active {
         transform: scale(1.04);
      }
   }
}
.Menu__link2--two {
   width: 2rem;
   margin-left: 1rem;
}
//

.subnav {
   padding: 2% 10%;
   display: flex;
   // flex-wrap: wrap;
   // display: grid;
   // grid-template-columns: 1fr 1fr;
   // gap: 2%;
   box-shadow: 2px 0 5px 2px #e91c6a;
   justify-content: center;

   @media (max-width: 1100px) {
      gap: 2%;
      padding: 2% 5%;
   }

   &__left {
      display: flex;
      gap: 10%;
      width: 100%;

      & h2 {
         border-bottom: 2px solid #e91c6a;
         margin-bottom: 20%;
         font-size: 1.6rem;
         cursor: pointer;

         &:hover {
            color: #e91c6a;
            border-color: #111;
         }
      }

      & p {
         font-size: 1.4rem;
         font-weight: 600;
         padding: 6% 0;
         cursor: pointer;

         &:hover {
            color: #e91c6a;
         }
      }
   }

   &__right {
      align-self: center;
      justify-self: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5%;
      width: 100%;

      @media (max-width: 600px) {
         display: none;
      }

      &--child {
         cursor: pointer;

         &:hover {
            color: #e91c6a;
         }
         & p {
            font-size: 1.4rem;
            font-weight: 600;
            padding-top: 2%;
         }
      }
   }
}

.displayNone {
   display: none;
   transition: 0.2s;
}

//
.header {
   background-image: linear-gradient(
         to right,
         rgba(0, 0, 0, 0.8) 0%,
         rgba(255, 255, 255, 0) 70%
      ),
      url(./images/a683dfb3cbeecb5d246f126d867db8a6.jpg);
   background-position: center;
   background-position-y: 20%;
   // background-size: 111%;
   background-origin: padding-box;
   background-repeat: no-repeat;
   color: seashell;
   padding: 7% 0;
   margin-bottom: 3%;

   @media (min-width: 1600px) {
      background-size: cover;
      background-position-x: -3rem;
   }

   @include max1300 {
      background-size: 110%;
      background-position: center;
   }
   // @include land {
   //    background-size: 110%;
   // }
   @include portrait {
      background-size: 120%;
   }
   @include mobile {
      background-size: 115%;
   }
   @media (max-width: 500px) {
      background-size: 125%;
   }
   @media (max-width: 400px) {
      background-size: 135%;
   }
   @media (max-width: 350px) {
      background-size: 145%;
   }

   &__content {
      margin-left: 10%;

      @include mobile {
         // margin-left: 7%;
      }

      & h1 {
         font-size: 5rem;
         margin: 0;
         padding: 0;

         @include land {
            font-size: 4rem;
         }

         @include portrait {
            font-size: 3rem;
         }
         @include mobile {
            font-size: 2rem;
         }
      }

      & button {
         background-color: #e91c6a;
         color: white;
         padding: 1% 2%;
         border: none;
         margin: 3% 0;
         box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
         cursor: pointer;
         font-weight: 600;

         @include mobile {
            font-size: 1rem;
         }

         &:hover {
            color: #e91c6a;
            background-color: white;
         }

         &:active {
            transform: scale(1.05);
            transition: all 0.3s;
         }
      }

      &--numb {
         display: flex;
         font-size: 1.4rem;

         &-1 {
            border-bottom: 2px solid #e91c6a;
            padding: 1%;
            margin: 0;
         }
         &-2 {
            padding: 1%;
            border-left: 1px solid grey;
            border-bottom: 2px solid gray;
            width: 10%;
         }
      }
   }
}
