@mixin max1300 {
   @media (max-width: 1300px) {
      @content;
   }
}
@mixin land {
   @media (max-width: 1100px) {
      @content;
   }
}
@mixin portrait {
   @media (max-width: 900px) {
      @content;
   }
}
@mixin mobile {
   @media (max-width: 600px) {
      @content;
   }
}

.Menu {
   width: 80%;
   margin: 2% auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
   &__link {
      text-decoration: none;
      font-weight: 600;
      font-size: 1.4rem;
   }
}
.Menu__link2--two {
   width: 2rem;
   margin-left: 1rem;
}
.qizil {
   color: red;
}

.header {
   background-image: linear-gradient(
         to right,
         rgba(0, 0, 0, 0.8) 0%,
         rgba(255, 255, 255, 0) 70%
      ),
      url(./images/a683dfb3cbeecb5d246f126d867db8a6.jpg);
   background-position: center;
   background-position-y: 20%;
   background-size: 105%;
   background-repeat: no-repeat;
   color: seashell;
   padding: 7% 0;

   @include max1300 {
      background-size: 120%;
      background-position: center;
   }
   @include mobile {
      background-size: 125%;
   }

   &__content {
      margin-left: 15%;

      @include mobile {
         margin-left: 10%;
      }

      & h1 {
         font-size: 5rem;

         @include land {
            font-size: 4rem;
         }

         @include portrait {
            font-size: 3rem;
         }
         @include mobile {
            font-size: 2rem;
         }
      }

      & button {
         background-color: #e91c6a;
         color: white;
         padding: 1% 2%;
         border: none;
         margin: 3% 0;
         box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
         cursor: pointer;
         font-weight: 600;

         @include mobile {
            font-size: 1rem;
         }

         &:hover {
            color: #e91c6a;
            background-color: white;
         }
      }

      &--numb {
         display: flex;
         font-size: 1.4rem;

         &-1 {
            border-bottom: 2px solid #e91c6a;
            padding: 1%;
         }
         &-2 {
            padding: 1%;
            border-left: 1px solid grey;
            border-bottom: 2px solid gray;
            width: 10%;
         }
      }
   }
}
