.count {
  width: 100%;
  background-color: white;
  box-shadow: 0px 1.5px 10px grey;
}

.Navbar {
  width: 80%;
  margin: 0 auto;
  height: 8rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__left {
    &--img {
      transform: scale(0.7);
    }
  }
  &__right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      cursor: pointer;
    }
  }
}
