@mixin responsive($breakpoint) {
  @if $breakpoint==tab-land {
    @media (max-width: 920px) {
      @content;
    }
  }
  @if $breakpoint==tab-port {
    @media (max-width: 700px) {
      @content;
    }
  }
  @if $breakpoint==phone {
    @media (max-width: 500px) {
      @content;
    }
  }
  @if $breakpoint== smallPhone {
    @media (max-width: 350px) {
      @content;
    }
  }
  @if $breakpoint==big {
    @media (max-width: 1200px) {
      @content;
    }
  }
}
html {
  @include responsive(big) {
    font-size: 75%;
  }
}
.footer {
  width: 100%;

  background-color: #514f62;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 80px;

  .menu {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2.5fr;
    grid-template-rows: auto;
    gap: 4rem;
    @include responsive(big) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include responsive(tab-port) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .sub {
      @include responsive(big) {
        grid-column: 1/6;
      }
      @include responsive(tab-port) {
        grid-column: 2/5;
      }
    }
    .row {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;

      h2 {
        font-size: 2rem;
        padding: 4px 0;
        margin-bottom: 1.5rem;
        text-decoration: underline;
        text-underline-offset: 10px;
      }
      p {
        font-size: 1.4rem;
        line-height: 1.4;
      }
      .menu_btn {
        background-color: #e91c6a;
        color: white;
        font-size: 1.2rem;
        padding: 4px 2px;
        width: 80%;
        border-radius: 1.4rem;
        border: none;
        font-weight: bold;
        box-shadow: 0.2rem 0.4rem 0.5rem rgb(64, 63, 63);
      }
      .form {
        background-color: white;
        border-radius: 1.5rem;
        display: flex;
        justify-content: space-between;
        input {
          border: none;
          background-color: none;
          outline: none;

          padding-left: 30px;
          border-radius: 1.5rem 0 0 1.5rem;
        }
        button {
          background-color: #e91c6a;
          border: none;
          color: white;
          padding: 8px 50px;
          font-weight: 600;
          border-radius: 0 1.5rem 1.5rem 0;
        }
      }
    }
    .row_first {
      gap: 30px;
    }
  }
  .copyright {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 1.6rem;
    }
  }
}
